*{
	margin: 0;
	padding: 0;
}
#main_menu{
	height:60px;
	background: linear-gradient{#e4e4e6, #d6d6d8};
}
#main_menu nav{
	text-align: center;
}
#main_menu nav a{
	font-size:24px;
	color:#313030;
	text-decoration: none;
}